        @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Kanit&family=Playfair+Display&family=Poppins:wght@600&display=swap');
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        nav {
            display: flex;
            padding: 28px 200px;
            justify-content: space-between;
            align-items: center;
        }
        
        nav img {
            height: 40px;
            width: 250px;
            opacity: 0.99;
        }
        
        .nav-links {
            flex: 1;
            text-align: right;
            cursor: pointer;
        }
        
        .nav-links ul li {
            list-style: none;
            display: inline-block;
            padding: 8px 10px;
            position: relative;
        }
        
        .nav-links ul li a {
            color: #000;
            text-decoration: none;
            font-size: 18px;
            font-family: 'Arimo', sans-serif;
        }
        
        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #000;
            display: block;
            margin: auto;
            transition: 0.5s;
        }
        
        .nav-links ul li:hover::after {
            width: 100%;
        }
        
        .sub-review {
            display: none;
        }
        
        .nav-links ul li:hover .sub-review {
            display: block;
            position: absolute;
            color: #000;
            margin-top: 10px;
            margin-left: -10px;
        }
        
        .nav-links ul li:hover:.sub-review ul {
            display: block;
            margin: 10px;
        }
        
        .nav-links ul li:hover:.sub-review ul li {
            width: 150px;
            padding: 10px;
            background: transparent;
            border-radius: 0;
            text-align: center;
        }
        
        .over_b {
            padding-right: 0;
            overflow: hidden;
            position: relative;
            cursor: pointer;
        }
        
        .over_b img {
            transition: transform 1s;
            width: 980px;
            height: 350px;
        }
        
        .over_b:hover img {
            transform: scale(1.1);
        }
        
        .b_overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(172, 63, 13, 0.521);
            font-family: 'Poppins', sans-serif;
            color: #fff;
            opacity: 0;
            transition: opacity 0.25s;
        }
        
        .b_overlay:hover {
            opacity: 0.8;
        }
        
        .b_title {
            font-size: 60px;
            font-weight: bold;
            position: absolute;
            top: 38%;
            left: 48.5%;
        }
        
        .b_overlay hr {
            border: 3.5px solid #fff;
            position: absolute;
            top: 63%;
            left: 54%;
            width: 15%;
            color: #fff;
        }
        
        .over_m {
            padding-right: 0;
            overflow: hidden;
            position: relative;
            cursor: pointer;
        }
        
        .over_m img {
            transition: transform 1s;
            width: 1080px;
            height: 350px;
            padding-left: 80px;
        }
        
        .over_m:hover img {
            transform: scale(1.1);
        }
        
        .m_overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(31, 110, 77, 0.753);
            font-family: 'Poppins', sans-serif;
            color: #fff;
            opacity: 0;
            transition: opacity 0.25s;
        }
        
        .m_overlay:hover {
            opacity: 0.7;
        }
        
        .m_title {
            font-size: 60px;
            font-weight: bold;
            position: absolute;
            top: 33%;
            left: 27%;
        }
        
        .m_overlay hr {
            border: 3.5px solid #fff;
            position: absolute;
            top: 58%;
            left: 32.5%;
            width: 16%;
            color: #fff;
        }